<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    环境配置：数据库的连接信息
        default:必须和某个environment的id值一样
        噶苏mybatis使用哪个数据库的连接信息，也就是访问哪个数据库
-->
<!--    settings:控制mybatis全局行为-->
    <settings>
<!--        设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="development">
<!--        environment :一个数据库信息的配置，环境id:一个唯一值，自定义，表示环境的名称。-->
        <environment id="development">
<!--            transactionManager：mybatis的事务类型-->
            <transactionManager type="JDBC"/>
<!--            dataSource表示数据源，连接数据库的，-->
<!--            type表示数据源的类型，POOLED表示使用连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springdb?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="Lq060528"/>
            </dataSource>
        </environment>
    </environments>

<!--    sql mapper（sql映射文件的位置）-->
    <mappers>
<!--        一个mapper指定一个文件的位置-->
<!--        从类路径开始的路径信息 target/classess(类路径) -->
        <mapper resource="com/qiangliu8/dao/StudentDao.xml"/>
    </mappers>
</configuration>

<!--mybatis的主配置文件，主要定义了数据库的配置信息，sql映射文件的位置-->

<!--    1、约束文件-->
<!--        <!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--    2、跟标签-->
<!--    <configuration>-->
